#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

svg {
  cursor: crosshair;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  transition-duration: 0.5s;
  cursor: pointer;
  text-align: center;
  height: 60px;
  width: 60px;
}

td[updated="up"] {
  color: green !important;
  background-color: rgba(0, 128, 0, 0.15) !important;
}
td[updated="down"] {
  color: red !important;
  background-color: rgba(255, 0, 0, 0.15) !important;
}

tr td:hover {
  background-color: rgb(187, 187, 187) !important;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}
tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}